[submodule "vendor/stm32g0xx_hal"]
	path = vendor/stm32g0xx_hal
	url = git@github.com:STMicroelectronics/stm32g0xx_hal_driver.git
[submodule "vendor/stm32g0xx_device"]
	path = vendor/stm32g0xx_device
	url = git@github.com:STMicroelectronics/cmsis_device_g0.git
[submodule "vendor/stm32g4xx_hal"]
	path = vendor/stm32g4xx_hal
	url = git@github.com:STMicroElectronics/stm32g4xx_hal_driver.git
[submodule "vendor/stm32g4xx_device"]
	path = vendor/stm32g4xx_device
	url = git@github.com:STMicroElectronics/cmsis_device_g4.git
[submodule "vendor/cmsis_core"]
	path = vendor/cmsis_core
	url = git@github.com:STMicroelectronics/cmsis_core.git
[submodule "vendor/stm32_pin_data"]
	path = vendor/stm32_pin_data
	url = git@github.com:STMicroelectronics/STM32_open_pin_data.git
[submodule "common/vrpc/vendor/nanopb"]
	path = common/vrpc/vendor/nanopb
	url = git@github.com:nanopb/nanopb.git
[submodule "vendor/cmsis_device_h7"]
	path = vendor/stm32h7xx_device
	url = git@github.com:STMicroelectronics/cmsis_device_h7.git
[submodule "vendor/stm32h7xx_hal"]
	path = vendor/stm32h7xx_hal
	url = git@github.com:STMicroelectronics/stm32h7xx_hal_driver.git
[submodule "vendor/cmsis_dsp"]
	path = vendor/cmsis_dsp
	url = git@github.com:ARM-software/CMSIS-DSP.git
[submodule "vendor/stm32h5xx_device"]
	path = vendor/stm32h5xx_device
	url = git@github.com:STMicroelectronics/cmsis_device_h5.git
[submodule "vendor/stm32h5xx_hal"]
	path = vendor/stm32h5xx_hal
	url = git@github.com:STMicroelectronics/stm32h5xx_hal_driver.git
[submodule "vendor/stm32_mw_usb_device"]
	path = vendor/stm32_mw_usb_device
	url = git@github.com:STMicroelectronics/stm32-mw-usb-device.git
[submodule "common/vrpc/protos"]
	path = common/vrpc/protos
	url = git@github.com:DirkWillem/vRPC-Common-Protocol.git
