{%- macro i2c_pin_mappings(var_name, pins) -%}
inline constexpr std::array<I2cPinMapping, {{pins | length}}> {{var_name}} {% raw %}{{{% endraw %}
{% for pin in pins -%}
{# #}    { .pin=PIN({{pin.pin[0]}}, {{pin.pin[1]}}), .peripheral = I2cIdFromName("{{ pin.instance }}"), .af={{pin.af}}U },
{% endfor -%}
{%- raw %}}};{% endraw -%}
{% endmacro -%}